@import url("https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&display=swap");

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
}

/* Setting up variables */
:root {
  --color-slate-900: #1f314f;
  --color-slate-500: #68778d;
  --color-slate-300: #d5e1ef;
  --color-blue-600: #2c7dfa;
  --color-blue-300: #3685ff;
  --color-white: #ffffff;

  --spacing-500: 40px;
  --spacing-300: 24px;
  --spacing-200: 16px;

  --font-size-1: 22px;
  --font-size-2: 15px;
}

body {
  height: 100vh;
  width: 100vw;
  font-family: "Outfit", sans-serif;

  background-color: var(--color-slate-300);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  box-sizing: border-box;
}

main {
  display: grid;
  place-items: center;
  margin: var(--spacing-200);
}

.qr-code__card {
  width: 304px;
  background-color: var(--color-white);
  box-shadow: 0px 25px 25px 0px rgba(0, 0, 0, 0.05);

  padding: var(--spacing-200) var(--spacing-200) var(--spacing-500)
    var(--spacing-200);
  border-radius: 20px;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--spacing-300, 24px);
}

.qr-code__img {
  width: 288px;
  height: 288px;

  border-radius: 10px;
  overflow: hidden;

  img {
    width: 100%;
    height: 100%;
  }
}

.qr-code__content {
  padding: var(--spacing-200, 16px);

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--spacing-200);
  align-self: stretch;
  text-align: center;

  .heading--primary {
    color: var(--color-slate-900);
    font-size: var(--font-size-1);
    font-weight: 700;
    line-height: 120%;
  }

  .text--primary {
    color: var(--color-slate-500);
    font-size: var(--font-size-2);
    font-weight: 400;
    line-height: 140%;
  }
}

/* Styles for Attribution */
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
